body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  background-color: #fafafa;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;;
}

.visually-hidden {
  position: absolute;
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.17;
  }
}

.title .accent {
  color: #fd9222;
}

/* ----------HEADER---------- */

.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1166px) {
  .header {
    padding-bottom: 32px;
  }
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin-right: 48px;
  }
}

@media screen and (min-width: 1166px) {
  .header-nav {
    margin-right: 90px;
  }
}

.header-logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 1166px) {
  .header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
  }
}

.header-logo-italic {
  font-style: italic;
}

.header-logo-icon {
  width: 21px;
  height: 21px;
}

@media screen and (min-width: 768px) {
  .header-logo-icon {
    width: 24px;
    height: 24px;
  }
}

.header-menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-menu-list {
    display: flex;
    gap: 24px;
  }
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  transition: color 300ms linear;
}

.header-menu-link:hover, .header-menu-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-soc-list {
    display: flex;
    gap: 12px;
  }
}

@media screen and (min-width: 1166px) {
  .header-soc-list {
    gap: 14px;
  }
}

.header-soc-img:hover, .header-soc-img:focus {
  fill: #fd9222;
}

.header-soc-img {
  stroke-width: 1.50px;
  fill: #111;
  transition: fill 300ms linear;
}

.header-menu-btn {
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

.header-menu-icon {
  fill: transparent;
  stroke-width: 2px;
  stroke: #111;
}

/* -------------------- */

/* ----------MENU---------- */

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  background-color: #1e1823;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu-top {
  display: flex;
  flex-direction: column;
}

.mobile-close-btn {
  margin-left: auto;
  margin-bottom: 88px;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-close-icon {
  fill: transparent;
  stroke-width: 2px;
  stroke: #fff;
}

.mobile-menu-nav {
  margin: 0 auto;
}

.mobile-menu-list {
  margin-bottom: 32px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.mobile-item-link-current {
  color: #fd9222;
}

.mobile-soc-list {
  display: flex;
  gap: 12px;
}

.mobile-soc-item {}

.mobile-soc-link {}

.mobile-soc-img {
  stroke-width: 1.50px;
  fill: #fff;
}

/* -------------------- */

/* ----------HERO---------- */

.hero {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1166px) {
  .hero {
    padding-bottom: 80px;
  }
}

.hero-wrap {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 395px 20px 20px 20px;
  border-radius: 30px;
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate_main.jpg);
}

@media screen and (min-width: 768px) {
  .hero-wrap {
    padding: 671px 40px 40px 40px;
  }
}

@media screen and (min-width: 1166px) {
  .hero-wrap {
    padding: 380px 40px 40px 40px;
  }
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 290px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-btn-main {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 12px 28px;
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  margin-right: 14px;
  transition: background-color 300ms linear, color 300ms linear;
}

@media screen and (min-width: 768px) {
  .hero-btn-main {
    padding: 14px 40px;
  }
}

.hero-btn-main:hover, .hero-btn-main:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-btn-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;
  background-color: transparent;
  transition: background-color 300ms linear, color 300ms linear;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1166px) {
  .hero-btn-link {
    padding: 14px 40px;
  }
}

.hero-btn-link:hover, .hero-btn-link:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.hero-btn-scroll {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  transition: color 300ms linear;
}

@media screen and (min-width: 768px) {
  .hero-btn-scroll {
    font-size: 14px;
    line-height: 1.29;
    margin-left: auto;
    margin-top: 0;
    gap: 14px;
  }
}

.hero-btn-span {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms linear;
}

@media screen and (min-width: 768px) {
  .hero-btn-span {
    width: 38px;
    height: 38px;
  }
}

.hero-btn-icon {
  fill: #fd9222;
  transition: fill 300ms linear;
}

@media screen and (min-width: 768px) {
  .hero-btn-icon {
    width: 16px;
    height: 16px;
  }
}

.hero-btn-scroll:hover {
  color: #fd9222;
}

.hero-btn-scroll:hover > .hero-btn-span {
  background-color: #fd9222;
}

.hero-btn-scroll:hover .hero-btn-icon {
  fill: #fff;
}

/* -------------------- */

/* ----------FEATURES---------- */

.features {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.features-title {

}

.features-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }
}

@media screen and (min-width: 1166px) {
  .features-list {
    padding-left: 18px;
    padding-right: 18px;
    gap: 88px;
  }
}

.features-list-item {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-list-item {
    width: calc((100% - 88px) / 2);
  }
}

@media screen and (min-width: 1166px) {
  .features-list-item {
    width: calc((100% - 2 * 88px) / 3);
  }
}

@media screen and (min-width: 1166px) {
  .current::after {
    position: absolute;
    content: "";
    top: 60px;
    right: -44px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 0px;
    height: 124px;
  }
}

.features-icon-wrap {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.features-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fd9222;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* -------------------- */

/* ----------TASTE---------- */

.taste {
  padding-top: 80px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1166px) {
  .taste {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.taste-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .taste-title {
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1166px) {
  .taste-title {
    margin-bottom: 28px;
  }
}

.taste-text {
  display: none; 
}

@media screen and (min-width: 1166px) {
  .taste-text {
    display: block;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.taste-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .taste-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media screen and (min-width: 1166px) {
  .taste-list {
    gap: 24px 32px;
  }
}

.taste-list-item {
  position: relative;
  border-radius: 15px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 28px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .taste-list-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1166px) {
  .taste-list-item {
    width: calc((100% - 3 * 32px) / 4);
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.taste-list-item:nth-child(4n+1) {
  background-color: #fd9222;
  color: #fff;
}

.taste-list-item:nth-child(even) {
  border: 1px solid #fd9222;
  background-color: #fff;
  color: #111;
}

.taste-list-item:nth-child(4n+3) {
  border-radius: 15px;
  background-color: #1e1823;
  color: #fff;
}

.taste-list-item:hover .taste-list-wrap {
  transform: translate(0%);
}

.taste-list-link {
  
}

.taste-link-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: transparent;
  stroke-width: 1px;
  stroke: #fafafa;
}

.taste-link-icon-current {
  stroke: #fd9222;
}

.taste-image {
  margin: 0 auto;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .taste-image {
    margin-bottom: 36px;
  }
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-left: 28px;
}

.taste-list-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 15px;
  padding: 20px 15px;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.taste-wrap-subtitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.taste-wrap-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  margin-bottom: 14px;
}

.taste-wrap-btn {
  border-radius: 35px;
  padding: 6px 16px;
  width: 81px;
  height: 24px;
  background-color: #fd9222;
  border: none;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  display: block;
  transition: background-color 300ms linear, color 300ms linear;
}

.taste-wrap-btn:hover, .taste-wrap-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.taste-wrap-link {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  width: 93px;
  height: 24px;
  background-color: #fafafa;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  transition: background-color 300ms linear, color 300ms linear;
}

.taste-wrap-link:hover, .taste-wrap-link:focus {
  background-color: #fd9222;
  color: #fff;
}

.taste-wrap-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  height: 162px;
  overflow: auto;
}

.taste-wrap-text-current {
  height: 140px;
}

/* -------------------- */

/* ----------MADE---------- */

.made {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .made {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1166px) {
  .made {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.made-title {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .made-title {
    margin-bottom: 50px;
  }
}

.made-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1166px) {
  .made-wrap {
    flex-direction: row;
  }
}

.made-image {
  background-color: (17, 17, 17, 0.4);
}

.made-recept {
  border-radius: 15px;
  background-color: #fff;
  padding: 20px 14px;
}

@media screen and (min-width: 768px) {
  .made-recept {
    padding: 32px;
  }
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  max-width: 350px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .made-subtitle {
    margin-bottom: 28px;
  }
}

.made-list {

}

.made-list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 18px;
}

@media screen and (min-width: 1166px) {
  .made-list-item {
    margin-bottom: 24px;
  }
}

.made-list-item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #eceded;
  margin-right: 8px;
  background-image: url(../images/ellipse.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.made-list-item:last-child {
  margin-bottom: 0;
}

.made-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

@media screen and (min-width: 768px) {
  .made-list-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
    max-width: 464px;
  }
}

@media screen and (min-width: 1166px) {
  .made-list-text {
    max-width: 410px;
  }
}

/* -------------------- */

/* ----------PRODUCTS---------- */

.products {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1166px) {
  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.products-title {
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 50px;
  }
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media screen and (min-width: 1166px) {
  .products-list {
    gap: 24px 18px;
  }
}


.products-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .products-list-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1166px) {
  .products-list-item {
    width: calc((100% - 3 * 18px) / 4);
  }
}

.products-image {
  margin: 0 auto;
  margin-bottom: 8px;
}

.products-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.products-list-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background-color: #fafafa;
}

/* -------------------- */

/* ----------SELLERS---------- */

.sellers {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .sellers {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1166px) {
  .sellers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.sellers-title {
  margin-bottom: 32px;  
}

@media screen and (min-width: 768px) {
  .sellers-title {
    margin-bottom: 50px;
  }
}

.sellers-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .sellers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media screen and (min-width: 1166px) {
  .sellers-list {
    display: flex;
    gap: 16px;
  }
}

.sellers-list-item {
  width: 100%;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .sellers-list-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1166px) {
  .sellers-list-item {
    width: calc((100% - 32px) / 3);
  }
}

.sellers-list-item:hover .sellers-cover-text {
  transform: translateY(0);
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-list-image {
  
}

.sellers-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
  transform: translateY(100%);
  transition: transform 300ms linear;
  backdrop-filter: blur(15px);
  background-color: linear-gradient(161deg, rgba(253, 253, 255, 0.1) 0%, rgba(8, 2, 21, 0.1) 100%);
}

@media screen and (min-width: 768px) {
  .sellers-cover-text {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1166px) {
  .sellers-cover-text {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding: 24px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sellers-subtitle {
    padding: 28px 0;
  }
}

/* -------------------- */

/* ----------LOVED---------- */

.loved {
  padding-top: 40px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .loved {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1166px) {
  .loved {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.loved-title {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .loved-title {
    margin-bottom: 50px;
  }
}

.loved-list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .loved-list {
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1166px) {
  .loved-list {
    gap: 28px;
  }
}

.loved-item-wrap {
  position: relative;
  padding-top: 42px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .loved-item-wrap {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1166px) {
  .loved-item-wrap {
    width: calc((100% - 2 * 28px) / 3);
  }
}

.loved-list-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 24px;
  padding-top: 56px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .loved-list-item {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 1166px) {
  .loved-list-item {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.loved-list-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.loved-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.loved-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  display: block;
  margin: 0 auto;
  border: none;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
  transition: background-color 300ms linear, color 300ms linear;
}

.loved-btn:hover, .loved-btn:focus {
  background-color: #fd9222;
  color: #fff;
}

/* -------------------- */

/* ----------FOOTER---------- */

.footer {
  background-color: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer-top {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 24px;
  }
}

.footer-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: 0;
  }
}

.footer-text .accent {
  color: #fd9222;
}

.footer-soc-wrap {
  width: 112px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .footer-soc-wrap {
    margin-right: 32px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1166px) {
  .footer-soc-wrap {
    margin-right: 50px;
    margin-left: auto;
  }
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #fff;
  margin-bottom: 14px;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
}

.footer-soc-item {
  
}

.footer-soc-link {

}

.footer-soc-img {
  fill: #fff;
  transition: fill 300ms linear;
}

.footer-soc-img:hover, .footer-soc-img:focus {
  fill: #fd9222;
}

.footer-contacts-wrap {
  width: 164px;
}

.footer-contacts {

}

.footer-contacts-list {

}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  transition: color 300ms linear;
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: #fd9222;
}

.footer-bottom {
  
}

@media screen and (min-width: 768px) {
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .footer-menu-list {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1166px) {
  .footer-menu-list {
    gap: 24px;
  }
}

.footer-menu-item {

}

.footer-menu-item-current {

}

@media screen and (min-width: 768px) {
  .footer-menu-item-current {
    display: none;
  }
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 300ms linear;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}

.subscribe-form {
  display: flex;
  gap: 8px;
}

.subscribe-form-input {
  border: 1.50px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding-left: 18px;
  padding-right: 18px;
  width: 207px;
  height: 45px;
  background-color: transparent;
  font-size: 14px;
  color: #404040;
  transition: border 300ms linear, box-shadow 300ms linear;
}

@media screen and (min-width: 768px) {
  .subscribe-form-input {
    padding-left: 24px;
    padding-right: 24px;
    width: 232px;
  }
}

@media screen and (min-width: 1166px) {
  .subscribe-form-input {
    width: 313px;
    height: 52px;
    font-size: 18px;
  }
}

.subscribe-form-input:focus {
  border: 1.50px solid #fd9222;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  outline: transparent;
}

.subscribe-form-input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 1166px) {
  .subscribe-form-input::placeholder {
    font-size: 18px;
  }
}

.subscribe-form-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 24px;
  min-width: 120px;
  height: 45px;
  border: none;
  display: block;
  background-color: #fd9222;
  transition: background-color 300ms linear, color 300ms linear;
}

@media screen and (min-width: 768px) {
  .subscribe-form-btn {
    padding: 14px 28px;
    min-width: 128px;
  }
}

@media screen and (min-width: 1166px) {
  .subscribe-form-btn {
    padding: 17px 32px;
    min-width: 137px;
    height: 52px;
  }
}

.subscribe-form-btn:hover, .subscribe-form-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

/* -------------------- */

/* ----------MODAL---------- */

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(76, 76, 76, 0.605);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 311px;
  border-radius: 15px;
  padding: 32px 24px;
  background-color: #fafafa;
  transition: transform 300ms linear;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 517px;
    padding: 40px;
  }
}

.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 14px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
}

.modal-close-icon {
  fill: transparent;
  stroke-width: 2px;
  stroke: #111;
}

@media screen and (min-width: 768px) {
  .modal-close-icon {
    width: 22px;
    height: 22px;
  }
}

.modal-text {
  max-width: 255px;
  text-align: left;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .modal-text {
    max-width: 298px;
    margin-bottom: 40px;
  }
}

.modal-form {}

.modal-input-container {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .modal-input-container {
    margin-bottom: 18px;
  }
}

.modal-label {
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .modal-label {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  border: 1.50px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  height: 45px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: transparent;
  padding-left: 43px;
  font-size: 13px;
  color: #404040;
  outline: transparent;
  transition: border-color 300ms linear;
}

@media screen and (min-width: 768px) {
  .modal-input {
    border-radius: 13px;
    height: 68px;
    padding-left: 62px;
    font-size: 18px;
  }
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input-icon {
  position: absolute;
  fill: transparent;
  stroke-width: 2px;
  stroke: #404040;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
}

@media screen and (min-width: 768px) {
  .modal-input-icon {
    left: 24px;
    width: 24px;
    height: 24px;
  }
}

.modal-input:focus + .modal-input-icon {
  stroke: #fd9222;
}

.modal-input-comment {
  width: 100%;
  border: 1.50px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  height: 91px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: transparent;
  padding: 13px 18px;
  resize: none;
  font-size: 13px;
  color: #404040;
  outline: transparent;
  transition: border-color 300ms linear;
}

@media screen and (min-width: 768px) {
  .modal-input-comment {
    border-radius: 13px;
    height: 137px;
    padding: 22px 24px;
    font-size: 18px;
  }
}

.modal-input-comment::placeholder {
  font-size: 13px;
  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .modal-input-comment::placeholder {
    font-size: 18px;
  }
}

.modal-input-comment:focus {
  border-color: #fd9222;
}

.modal-checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .modal-checkbox-container {
    margin-bottom: 40px;
  }
}

.modal-check {
  transition: background-color 300ms linear, border-color 300ms linear, fill 300ms linear;
}

.modal-check-label {
  display: flex;
}

@media screen and (min-width: 768px) {
  .modal-check-label {
    align-items: center;
  }
}

.modal-check-empty {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  vertical-align: sub;
  cursor: pointer;
  fill: transparent;
  flex-shrink: 0;
  transition: background-color 300ms linear, border-color 300ms linear, fill 300ms linear;
}

.modal-check:focus + .modal-check-label > .modal-check-empty {
  border-color: #fd9222;
}

.modal-check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-check:checked + .modal-check-label > .modal-check-empty {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .modal-check-text {
    font-size: 14px;
  }
}

.modal-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

.modal-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 12px 28px;
  width: 93px;
  height: 41px;
  background-color: #fd9222;
  border: none;
  display: block;
  transition: background-color 300ms linear, color 300ms linear;
}

@media screen and (min-width: 768px) {
  .modal-btn {
    padding: 14px 40px;
    width: 117px;
    height: 45px;
  }
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}